.home-blogs-div {
  margin: 40px 0 10px;
}

.home-blogs-div h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.blogs-out {
  width: 100%;
}

.blogs-card {
  width: 95%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 6px;
  border-radius: 20px;
}

.blogs-card a {
  text-decoration: none;
}

.blog-img {
  width: 100%;
}

.blog-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.blog-content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.blog-content h5 {
  color: #222;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.blog-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 18px;
  color: #353535;
}

.blog-author {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-author span {
  font-size: 14px;
  color: #222;
  font-weight: 500;
}

.blog-author button {
  border: none;
  background: none;
  color: #ec791b;
  font-size: 14px;
  text-decoration: underline;
}
