.our-promises-home {
  margin: 30px 0;
}

.our-promises-home h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.our-prom-h {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.prom-card-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 15px 20px;
  border-radius: 8px;
  width: 30%;
  border: 1px solid rgb(0 0 0 / 30%);
  background: #ffefe0;
}

.prom-card-h img {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.prom-card-h span {
  font-size: 17px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .our-prom-h {
    flex-direction: column;
    gap: 10px;
  }

  .prom-card-h {
    width: 100%;
  }
}
