.puja-special-div {
  margin: 30px 0;
}

.puja-special-div h2 {
  font-size: 27px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}
.slider-items a {
  display: block;
  width: 95%;
  margin: 5px auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
}
.slider-items a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-items img {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 20px;
}

.slider-info {
  margin: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.slider-info p {
  font-size: 20px;
  color: #222;
  font-weight: 500;
}

.slider-info span {
  color: #222;
  font-size: 13px;
  line-height: 18px;
  display: block;
  height: 40px;
}
.book-now {
  background: linear-gradient(0deg, #be2a2a -86.4%, #ef7f1a 94.15%);
  color: #fff;
  border: none;
  padding: 8px 20px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.book-now:hover {
  background: linear-gradient(0deg, #ef7f1a -86.4%, #be2a2a 94.15%);
}
.puja-slider .slick-prev:before {
  font-size: 40px !important;
  color: #000 !important;
}

.puja-slider .slick-prev {
  left: -35px !important;
}

.puja-slider .slick-next:before {
  color: #000 !important;
  font-size: 40px !important;
}

.puja-slider .slick-next {
  right: -15px !important;
}
