.user-reviews-div {
  margin: 30px 0;
}

.user-reviews-div h3 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.user-review {
  width: 95%;
  margin: auto;
  text-align: center;
  background: #eee;
  border-radius: 10px;
  padding: 15px;
}

.user-name-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-name-img img {
  width: 70px;
  height: auto;
  border-radius: 50%;
}

.name-count {
  text-align: left;
  line-height: 20px;
}

.name-count p {
  font-size: 18px;
  font-weight: 600;
}

.name-count span {
  font-size: 13px;
}

.user-comment {
  height: 200px;
}

.user-comment p {
  font-size: 15px;
  line-height: 24px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .user-comment {
    height: 210px;
  }
}
