.astrology-services {
  background: #ffefe9;
  padding: 25px 0;
}

.astrology-services h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-astrology-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0;
}
.astrology-service-cards {
  position: relative;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 65px 10px 15px;
  margin-top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 24%;
}
.astrology-service-cards:hover {
  transform: scale(1.03);
}

.astrology-service-cards img {
  width: 100px;
  height: auto;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid #ffefe9;
  border-radius: 50%;
  box-sizing: content-box;
}

.astrology-service-cards p {
  font-size: 16px;
  margin-top: 10px;
  color: #926d34;
  text-transform: uppercase;
  font-weight: 600;
}

.astrology-service-cards a {
  text-decoration: none;
}

.astrology-service-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .astrology-services .col-sm-6 {
    width: 50%;
    padding: 0 8px;
  }

  .astrology-service-cards {
    padding: 35px 10px 15px;
    width: 49%;
  }

  .astrology-service-cards img {
    width: 75px;
  }

  .astrology-services h1 {
    font-size: 22px;
  }

  .astrology-service-cards p {
    font-size: 11px;
    text-transform: capitalize;
  }
}
