@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}

/* Show dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* optional: removes jump */
}

/* Ensure link looks active on hover */
.nav-item.dropdown:hover > .nav-link {
  color: #0d6efd; /* Bootstrap primary */
}
.puja-special-div .slick-prev:before {
  font-size: 40px !important;
  color: #000 !important;
}

.puja-special-div .slick-prev {
  left: -35px !important;
}

.puja-special-div .slick-next:before {
  color: #000 !important;
  font-size: 40px !important;
}

.puja-special-div .slick-next {
  right: -15px !important;
}
