/* Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 999;
}
.logo img {
  width: 100px;
  height: auto;
}

.lang-switch {
  font-size: 14px;
  margin: 0 10px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.btn-menu {
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.signin-modal-btn {
  background-image: linear-gradient(90deg, #f77e25 0, #fb572f 100%);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.5s;
}

.get-app {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #001a4a;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 12px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #9c9898;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar.open {
  left: 0;
}

.sidebar .close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  float: right;
  cursor: pointer;
  position: absolute;
  right: 11px;
  top: 5px;
}

.sidebar ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.dropdown-toggle::after {
  content: none;
}
.sidebar ul li {
  padding: 7px 0;
  border-bottom: 0.5px solid #eee;
}

.sidebar ul li a {
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.sidebar ul li a:hover {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.sidebar ul li:last-child {
  border-bottom: none;
}
.drop-down-div {
  display: block;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
  margin-top: 8px;
}

.drop-down-div a {
  padding: 6px 0 !important;
  display: block;
  border-bottom: 0.5px solid #eee;
}

.drop-down-div a:hover {
  background: #b0adad;
  color: #fff;
}

.drop-down-div a:last-child {
  border-bottom: none;
}
.sidebar-btn {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0;
  font-size: 14px;
}
.sidebar-btn:hover {
  color: #fff;
}
